<div class="skill-card">
  <img src="assets/images/home/technical-skills/coding.svg" class="icon" alt="Coding icon">
  <h6 class="title">Coding</h6>
  <div class="skills">
    <span class="skill">Angular</span>
    <span class="skill">TypeScript</span>
    <span class="skill">JavaScript</span>
    <span class="skill">HTML5</span>
    <span class="skill">SCSS</span>
    <span class="skill">CSS</span>
    <span class="skill">MySQL</span>
    <span class="skill">CodeIgniter</span>
    <span class="skill">C#</span>
  </div>
</div>
