// Inter Font
@font-face {
  font-family: 'Inter';
  src: url('./../fonts/inter/inter-all-700-normal.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  src: url('./../fonts/inter/inter-all-500-normal.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  src: url('./../fonts/inter/inter-all-400-normal.woff') format('woff');
}

// // Poppins Font
@font-face {
  font-family: 'Poppins';
  src: url('./../fonts/poppins/poppins-all-500-normal.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  src: url('./../fonts/poppins/poppins-all-400-normal.woff') format('woff');
}
