<section class="about-me">
  <div class="container">
    <div class="row">
      <div class="col-md-7 d-flex flex-column justify-content-center ">

        <h1 class="section-title">About <span class="primary-color">Me</span></h1>
        <img src="assets/images/shared/section-divider.svg" class="section-divider" alt="Section Divider">

        <p class="description">
          I'm a fresh graduate with experience in designing and developing systems as well as web applications using
          Angular. I love spending time fixing little details and I don't stop working until I've resolved any problem.
          I'm very passionate about designing applications to make them look user-friendly and attractive.
        </p>

        <div class="details">
          <div class="detail">
            <span class="description">1 year 5 months</span>
            <img src="assets/images/home/about-me/briefcase.svg" alt="Briefcase icon">
          </div>
          <div class="detail">
            <span class="description">24 years old</span>
            <img src="assets/images/home/about-me/calendar.svg" alt="Calendar icon">
          </div>
          <div class="detail">
            <span class="description">Philippines</span>
            <img src="assets/images/home/about-me/location.svg" alt="Location icon">
          </div>
        </div>

      </div>
      <div class="col-md-5 d-flex justify-content-end align-items-start">
        <img src="assets/images/home/about-me/profile-photo.jpg" alt="Vhen Larson Dela Cuesta">
      </div>
    </div>
  </div>
</section>
