<section class="technical-skills">
  <div class="container">
    <h1 class="section-title">Technical <span class="primary-color">Skills</span></h1>
    <img src="assets/images/shared/section-centered-divider.svg" class="section-divider" alt="Section divider">
    <div class="row">
      <div class="col-md-4">
        <app-skill-card></app-skill-card>
      </div>
      <div class="col-md-4">
        <app-skill-card></app-skill-card>
      </div>
      <div class="col-md-4">
        <app-skill-card></app-skill-card>
      </div>
    </div>
  </div>
</section>
