html {
  scroll-behavior: smooth;
}

.hero-grid {
  background-image: url('/public/images/hero/grid-background.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
